@import config

.container
  display: inline-block
  max-width: 100%
  padding: 10px 30px
  
.header-logo
  display: inline-block
  position: relative
  padding: 5px 20px

.nav-logo
  position: absolute

.logo-p
  display: inline-block
  position: relative
  white-space: nowrap
  font-family: $lato
  font-size: 32px
  font-weight: 900
  color: #011847
  line-height: 0.5
  margin-top: 5px
  margin-bottom: 0px
  margin-left: 60px
  padding: 10px 5px
  

.logo-span
  font-family: $lato
  font-size: 18px
  font-weight: 400
  color: $accent

.navigation
  display: inline-block
  margin-left: 100px



.navbar-nav
  display: inline-block

.nav-item-dropdown
  display: inline-block
  padding-right: 40px


.dropdown-menu
  display: none

.nav-item
  display: inline-block
  padding-right: 20px

.nav-lang-menu
  display: inline-block
  position: relative

.lang-menu
  display: inline-block

.lang-item
  display: inline-block

.dropdown-lang-menu
  display: none

.nav-currency-menu
  display: inline-block


.currency-menu
  display: inline-block

.currency-item
  display: inline-block

.dropdown-currency-menu
  display: none
